Thruxton
Chilbolton
Huen
Holmsley South
Ibsley
Beaulieu
Blackbushe
Thorney Island
Tangmere
Dunsfold
Woodchurch
Abbeville Drucat
Beauvais Tille
Cormeilles en Vexin
Dreux
Saint Andre de lEure
Evreux Fauville
Plane
A-10 Carentan
A-4 Deux Jumeaux
A-1 Saint Pierre du Mont
A-5 Chippelle
A-12 Lignerolles
B-19 Lingevres
A-13 Tour en Bessin
B-6 Coulombs
B-17 Carpiquet